@model WebBlog.Models.Domain.Tag
@{
}

@if (User.IsInRole("Admin"))
{
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Add New Tag - Only Admin</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3 form-group">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control" id="name" />
        </div>

        <div class="mb-3 form-group">
            <label asp-for="DisplayName" class="form-label">Display Name</label>
            <input asp-for="DisplayName" type="text" class="form-control" id="displayName" />
        </div>

        <div class="mb-3 form-group">
            <button type="submit" class="btn btn-dark">Add</button>
        </div>
    </form>
</div>

}
else
{
    <div class="bg-secondary bg-opacity-10 py-2">
        <div class="container">
            <h1>You do not have permissions to add tags.</h1>
        </div>
    </div>
}