@model EditViewModel
@{
    ViewData["Title"] = "CreateUser";
}


@if (User.IsInRole("Admin"))
{
    <form asp-action="EditUser">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Role"></label>
            <input asp-for="Role" class="form-control" />
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>

    </form>
}
else
{
    <div class="bg-secondary bg-opacity-10 py-2">
        <div class="container">
            <h1>You do not have permissions to edit users.</h1>
        </div>
    </div>
}