@model List<WebBlog.Models.Domain.BlogPost>;
@{
}

@if (User.IsInRole("Admin") || User.IsInRole("Author"))
{
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>All Blog Post - Only Admin</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Heading</td>
                    <td>Tags</td>
                    <td> </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var blogPost in Model)
                {
                    <tr>
                        <td>@blogPost.Id</td>
                        <td>@blogPost.Heading</td>
                        <td>
                            <div class="d-flex">
                                @foreach (var tag in blogPost.Tags)
                                {
                                    <span class="badge bg-primary me-2">@tag.Name</span>
                                }
                            </div>
                        </td>
                        <td><a class="" asp-area="" asp-controller="AdminBlogPosts" asp-action="Edit" asp-route-id="@blogPost.Id">Edit</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Blog Post Found!</p>
    }
</div>

}
else
{
    <div class="bg-secondary bg-opacity-10 py-2">
        <div class="container">
            <h1>You do not have permissions to manage blogs.</h1>
        </div>
    </div>
}