@model WebBlog.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="col-xxl-12 py-5" id="banner">
    <div class=" align-items-center g-5 py-5" >
        <div class="col-12 col-lg-6 mx-5">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Web Blog - The Tech Blog
            </h1>
            <p class="lead">
                In Web Blog your are going to find blogs covering different topis like HTML, CSS, Javascript, ASP. NET, C#, React etc.
                If you want to read the latest blogs. Join to The Tech Blog.
            </p>
        </div>
    </div>
</div>



<div class="container col-xxl-8 px-4 py-5">
    <div class="row g-5 py-5">
        <div class="col-12 col-lg-9">
            @if (Model != null && Model.BlogPosts.Any())
            {
                @await Component.InvokeAsync("Index",
                    new {
                        category = ViewData["category"],
                        email = ViewData["email"],
                        indexPage =  ViewData["indexPage"]}
                    )
            }
        </div>
        <div class="col-12 col-lg-3">
            @if (Model != null && (Model.Tags.Any() || Model.Authors.Any()))
            {
                <h3 class="mb-4">Categories</h3>
                <ul class="list-group mb-5">
                    @foreach (var tag in Model.Tags)
                    {
                        <li class="list-group-item">
                            <a class="" asp-area="" asp-controller="" asp-action="" asp-route-urlHandle="">
                                @*@tag.Name*@
                                @Html.ActionLink(tag.Name, "Index", "Home", new {category = tag.Name, email = ""})
                            </a>
                        
                        </li>
                    }
                </ul>

                <h3 class="mb-4">Authors</h3>
                <ul class="list-group">
                    @foreach (var author in Model.Authors)
                    {
                        <li class="list-group-item">
                            <a class="" asp-area="" asp-controller="" asp-action="" asp-route-urlHandle="">
                                @Html.ActionLink(author.FirstName +" "+ author.LastName, "Index", "Home", new { category = "", email = author.Email})
                            </a>

                        </li>
                    }
                </ul>
            }
            else
            {
                <h3 class="mb-4">Categories</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p class="mb-4">No tags found</p>
                    </li>
                </ul>

                <h3 class="mb-4">Authors</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p class="mb-4">No authors found</p>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function verificar(control, max, progressText) {
            // Limit the text area length
            control.value = control.value.substring(0, max);

            // Set the number of characters left
            const numberCharLeft = max - control.value.length;
            progressText.textContent = numberCharLeft.toString();
        }
        listCommentListener();
        addCommentListener();

        function listCommentListener() {
            $(document).ready(function () {
                $('.number-comments').submit(function (event) {
                    event.preventDefault(); // Prevent the form from submitting normally
                    
                    // Get the form data
                    var formData = {
                        Id: $(event.target).children(":first-child")[0].value,
                    };
                    
                    console.log(formData.Id);
                    // Make the AJAX call
                    $.ajax({
                        url: '@Url.Action("GetComments", "Home")', // Replace "ControllerName" with the actual name of your controller
                        type: 'POST',
                        data: formData,
                        success: function (data) {
                            // Handle the successful response
                            if ($(`#${formData.Id}`).children().css('display') === 'none') {
                                $(`#Total-Comments-${formData.Id}`).children().css('display', 'block');

                                $(`#${formData.Id}`).children().css('display', 'block');
                                $(`#${formData.Id}-display`).children().remove();
                                for (var comment of data) {
                                    $(`#${formData.Id}-display`).append(`
                                                                     <div class="card mb-3">
                                                                        <div class="card-body">
                                                                            <div>${comment.description}</div>
                                                                            <div class="d-flex justify-content-between">
                                                                                <span class="text-secondary">${comment.email}</span>
                                                                                <span class="text-secondary">${comment.dateAdded}</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                        `);
                                }
                            } else {
                                $(`#${formData.Id}`).children().css('display', 'none');
                            }
                        },
                        error: function () {
                            // Handle any errors
                            alert('Error occurred while submitting the comment.');
                        }
                    });
                });
            });
        }

        function addCommentListener() {
            $(document).ready(function () {
                $('.comment-form').submit(function (event) {
                    event.preventDefault(); // Prevent the form from submitting normally
                    // Get the form data
                    console.log($(event.target))
                    var formData = {
                        Email: $(event.target)[0][0].value,
                        CommentDescription: $(event.target)[0][1].value,
                        Id: $(event.target)[0][3].value,
                        UrlHandle: $(event.target)[0][4].value
                    };
                    $(`#countText-${formData.Id}`).text('200');
                    $(event.target)[0][1].value = "";
                    console.log(formData);
                    // Make the AJAX call
                    $.ajax({
                        url: '@Url.Action("PostComments", "Home")', // Replace "ControllerName" with the actual name of your controller
                        type: 'POST',
                        data: formData,
                        success: function (data) {
                            // Handle the successful response
                            console.log(data);

                            let count = 0;
                            $(`#${formData.Id}-display`).children().remove();
                            for (var comment of data) {
                                count += 1;
                                $(`#${comment.id}-display`).append(`
                                                             <div class="card mb-3">
                                                                <div class="card-body">
                                                                    <div>${comment.description}</div>
                                                                    <div class="d-flex justify-content-between">
                                                                        <span class="text-secondary">${comment.email}</span>
                                                                        <span class="text-secondary">${comment.dateAdded}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                `);
                            }
                            $(`#Total-Comments-${formData.Id}`).text(`Comments: ${count}`);
                        },
                        error: function () {
                            // Handle any errors
                            alert('Error occurred while submitting the comment.');
                        }
                    });
                });
            });
        }

        $(document).ready(function () {
            $(document).on("click", "#contentPager a[href]", function () {
                $.ajax({
                    url: $(this).attr("href"),
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        var wrapper = document.createElement('div');
                        wrapper.innerHTML = `<div>${result}</div>`;
                        var div = wrapper.firstChild;

                        $('#content').html(div.querySelector('#content').innerHTML);

                        listCommentListener();
                        addCommentListener();
                    }
                });
                return false;
            });
        });
    </script>
}